.vision {
    display: none;
}

.textDate {
    padding-left: 42px;
    font-weight: bold;
    padding-bottom: 10px;
}

.textStatus {
    padding-left: 42px;
    color: #F89B11;
    margin: 0;
}

.textDone {
    color: #134EC1;
}

@media (max-width: 768px) {
    .vision {
        display: flex;
        flex-direction: column;
    }
}