.table {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
    border-bottom: 1px solid #EEEBE9;
    max-width: 1300px;
}
.columnCheckbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
}
.columnDescription {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 937px;
}

.columnStatus {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 151px;
}

.paddingForText{
    padding-left: 20px;
}

.textDone {
    padding-left: 19px;
    color: #134EC1;
}
.textWork {
    padding-left: 19px;
    color: #F89B11;
}
.paddingForDate{
    padding-left: 19px;
}

.columnDate {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 130px;
}

.columnDelete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
}

.invisibleButton {
    background: transparent;
    border: none;
    font-size: 0;
    padding: 0;
    cursor: pointer;
}

.borderLeft {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 32px;
    padding-left: 20px;
    border-left: 1px solid #C4C4C4;
}