.table {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 58px;
    max-height: 100vh;
    border-top: 1px solid #EEEBE9;
    max-width: 1300px;
}

.columnCheckbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
}

.columnName {
    display: flex;
    justify-content: space-between;
    width: 937px;
    cursor: pointer;
}

.visionArrow {
    display: flex;
    justify-content: flex-end;
    min-width: 16px;
    min-height: 16px;
    align-items: center;
    text-align: right;
    color: #16191D;
}

.coup {
    display: block;
    text-align: right;
    transform: rotate(180deg);
    color: #16191D;
    min-width: 16px;
    min-height: 16px;
}

.columnStatus {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 151px;
}

.paddingForName {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding-left: 20px;
    font-size: 100%;
}

.paddingForDescription {
    display: flex;
    text-align: left;
    margin: 0;
    padding-left: 20px;
    font-size: 80%;
}

.setting {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.textWork {
    padding-left: 19px;
    color: #F89B11;
}

.textDone {
    color: #134EC1;
}

.paddingForDate {
    padding-left: 19px;
}

.columnDate {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 130px;
}

.columnDelete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
}

.invisibleButton {
    background: transparent;
    border: none;
    font-size: 0;
    /*padding: 0;*/
    margin: auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    cursor: pointer;
    padding-right: 10px;
}

.borderLeft {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 32px;
    padding-left: 20px;
    border-left: 1px solid #C4C4C4;
}

@media (max-width: 768px) {
    .table {
        border-bottom: 0;
        max-width: 768px;
    }

    .columnCheckbox {
        width: 40px;
        margin-top: 5px;
    }

    .columnName {
        width: 320px;
    }

    .invisibleButton {
        color: #16191D;
        cursor: pointer;
    }

    .columnStatus {
        display: none;
    }

    .columnDate {
        display: none;
    }

    .columnDelete {
        justify-content: left;
        width: 40px;
    }

    .paddingForName {
        text-align: left;
        padding-left: 0;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
    }
    .paddingForDescription {
        display: none;
    }
}