.searchAndSort {
    display: flex;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
}

.magnifyingIndent {
    padding-left: 30px;
    padding-right: 16px;
    padding-top: 6px;
    margin: 0;
}

.sort {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
}

.openSort {
    display: none;
}

.markFilter {
    margin-top: 4px;
}

.sortName {
    display: flex;
    justify-content: center;
}

.filters {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.filterForStatus {
    margin: 16px 0 0 10px;
}

.filterForDate {
    margin: 0 0 0 10px;
}

.invisibleButton {
    background: transparent;
    border: none;
    font-size: 0;
    padding: 0;
    cursor: pointer;
}

.inputSearch {
    border: 0;
    width: 150px;
    height: 18px;
    padding: 0;
}

.table {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
    max-width: 1300px;
}

.columnCheckbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
}

.columnName {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 937px;
}

.columnStatus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 151px;
}

.columnDate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
}

.columnDelete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    cursor: pointer;
}

.borderLeft {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 32px;
    padding-left: 20px;
    border-left: 1px solid #C4C4C4;
}

.borderLeftForDelete {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 32px;
    border-left: 1px solid #C4C4C4;
}

.invisibleButtonForTable {
    background: transparent;
    border: none;
    font-size: 0;
    padding-left: 30px;
    cursor: pointer;
}

.vision {
    display: flex;
    padding-right: 20px;
}

.coup {
    display: flex;
    padding-left: 20px;
    transform: rotate(180deg);
}

@media (max-width: 768px) {
    .magnifyingIndent {
        padding-left: 0;
    }

    .table {
        justify-content: left;
        max-width: 450px;
    }

    .searchAndSort {
        max-width: 400px;
    }

    .inputSearch {
        width: 100px;
    }

    .columnCheckbox {
        width: 40px;
    }

    .columnName {
        justify-content: flex-start;
        width: 320px;
    }

    .columnStatus {
        display: none;
    }

    .columnDate {
        display: none;
    }

    .columnDelete {
        justify-content: left;
        width: 40px;
    }

    .borderLeftForDelete {
        border-left: 0
    }
}


