.table {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 58px;
    border-top: 1px solid #EEEBE9;
    max-width: 1300px;
}

.columnCheckbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
}

.columnName {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 937px;
}

.addTask {
    margin-left: 20px;
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.addTask:hover .textTask {
    font-weight: bold;
    color: #314B99;
    margin-left: 18px;
}

.addTask:hover svg{
    color: #fff;
    border: 1px solid #314B99;
    background-color: #314B99;
    border-radius: 50%;
}

.textTask {
    font-size: medium;
    margin-left: 20px;
}

.paddingForText {
    padding-left: 17px;
    font-size: 16px;
}

@media (max-width: 768px) {
    .table {
        border-bottom: 0;
        max-width: 768px;
    }

    .columnCheckbox {
        width: 40px;
        margin-top: 5px;
    }

    .columnName {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        width: 320px;
        margin: 0;
        text-decoration: none;
    }

    .paddingForText {
        display: flex;
        justify-content: flex-start;
        text-align: left;
        padding-left: 0;
        margin: 0;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
    }
}