.title {
    font-weight: bold;
    padding-left: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.invisibleButton {
    background: transparent;
    border: none;
    font-size: 0;
    padding: 0;
    cursor: pointer;
}

@media (max-width: 768px) {
    .title {
        padding-left: 0;
    }
}


